


<div class="container mt-3 mb-5">
    <table class="table" style="font-size:11px">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Gideceği Url</th>
            <th scope="col">Kısa Url</th>
            <th scope="col">Tarih</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td><a href="{{url.longUrl}}" target="_blank">{{url.longUrl}}</a></td>
            <td><a href="{{url.shortUrl}}" target="_blank">{{url.shortUrl}}</a></td>
            <td>{{url.date}}</td>
            </tr>     
        </tbody>
    </table>
</div>